{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
  
</head>
<body>
  <div class="book_main">
  
  <h1>List pages </h1>
  
  <a href='/login' class="book">Login</a>
  <a href='/register' class="book">Register</a>
  <a href='/logout' class="book">Logout</a>
  
    
  <a href='/notes/notes' class="book">Notes</a>
  <a href='/player' class="book">Player</a>
  <a href='/lib' class="book">Libruary</a>
  </div>
</body>
</html>